<div class="main-container">
    <section class="cover height-80">
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-md-11 col-lg-8"> <span class="h2">
            <span class="color--primary">Hi, we're upscale</span>&nbsp;research specialising in pioneering solutions for sustainable technology. We work with startups and individuals, small and large. </span>
                    <div class="modal-instance block">
                        <div class="video-play-icon video-play-icon--sm bg--primary modal-trigger"></div> <span><strong>Watch our story</strong></span>
                        <div class="modal-container">
                            <div class="modal-content bg-dark" data-width="60%" data-height="60%"> <iframe allowfullscreen="allowfullscreen" src="https://www.youtube.com/embed/OC9JrM7WRd4" data-src="https://www.youtube.com/embed/OC9JrM7WRd4"></iframe> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="cta cta-4 space--xxs border--bottom imagebg text-center" data-gradient-bg="#4876BD,#5448BD,#8F48BD,#BD48B1">
        <div class="container">
            <div class="row">
                <div class="col-md-12"> <span class="label label--inline">New!</span> <span>Over 290 interface blocks, 140 demo pages and Variant Page Builder. <a href="#purchase-template">Purchase Stack</a> for $18 USD.</span> </div>
            </div>
        </div>
    </section>
    <section class="switchable feature-large">
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-md-6"> <img alt="Image" class="border--round box-shadow-wide" src="img/landing-11.jpg"> </div>
                <div class="col-md-6 col-lg-5">
                    <div class="switchable__text">
                        <h2>Build business on science</h2>
                        <p class="lead">Rely decisions based on data. Grow with scale and fore frontier and leverage leading research on AI, Quantum Computing and Math from upscale. &nbsp;</p> <a href="#">Learn More »</a> </div>
                </div>
            </div>
        </div>
    </section>
    <section class="text-center bg--secondary">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Recent Publications</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="bg--secondary">
        <div class="container">
            <div class="row text-block">
                <div class="col-md-12">
                    <h3>More recent stories</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <article class="feature feature-1">
                        <a href="#" class="block"> <img alt="Image" src="img/blog-2.jpg"> </a>
                        <div class="feature__body boxed boxed--border"> <span>May 25th 2016</span>
                            <h5>A day in the life of a professional fitness blogger</h5> <a href="#">
      Read More
    </a> </div>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="feature feature-1">
                        <a href="#" class="block"> <img alt="Image" src="img/blog-3.jpg"> </a>
                        <div class="feature__body boxed boxed--border"> <span>May 25th 2016</span>
                            <h5>Small businesses that expertly leverage their online followings</h5> <a href="#">
      Read More
    </a> </div>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="feature feature-1">
                        <a href="#" class="block"> <img alt="Image" src="img/blog-4.jpg"> </a>
                        <div class="feature__body boxed boxed--border"> <span>May 25th 2016</span>
                            <h5>Designing efficiently in the age of distraction</h5> <a href="#">
      Read More
    </a> </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section class="imageblock switchable feature-large height-100">
        <div class="imageblock__content col-lg-6 col-md-4 pos-right" data-overlay="1">
            <div class="background-image-holder"> <img alt="image" src="img/inner-9.jpg"> </div>
            <div class="modal-instance">
                <div class="video-play-icon modal-trigger"></div>
                <div class="modal-container">
                    <div class="modal-content bg-dark" data-width="60%" data-height="60%"> <iframe data-src="https://www.youtube.com/embed/6p45ooZOOPo?autoplay=1" allowfullscreen="allowfullscreen"></iframe> </div>
                </div>
            </div>
        </div>
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-lg-5 col-md-7">
                    <h1>Philosophy for the best product you need.</h1>
                    <p class="lead"> Interested in using our research in one of your product get in touch with us. </p>
                    <div class="bg--secondary boxed boxed--border">
                        <form action="//mrare.us8.list-manage.com/subscribe/post?u=77142ece814d3cff52058a51f&amp;id=f300c9cce8" data-success="Thanks for signing up.  Please check your inbox for a confirmation email." data-error="Please provide your name and email address and agree to the terms.">
                            <h6 class="type--uppercase">Source of conversation starts here</h6> <input class="validate-required" type="text" name="NAME" placeholder="Your Name"> <input class="validate-required validate-email" type="email" name="EMAIL" placeholder="Email Address"> <input class="validate-required" type="checkbox" name="group[13737][1]"> <span>I have read and agree to the <a href="#">terms and conditions</a></span> <button type="submit" class="btn btn--primary type--uppercase">Submit</button>
                            <div style="position: absolute; left: -5000px" aria-hidden="true"> <input type="text" name="b_77142ece814d3cff52058a51f_f300c9cce8" tabindex="-1" value=""> </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="unpad elaborate-form-1">
        <div class="row row--gapless">
            <div class="col-md-6 height-50 bg--primary">
                <div class="pos-vertical-center clearfix row no-gutters justify-content-center">
                    <div class="col-lg-8"> <span class="h1">Join the Campaign.</span>
                        <p class="lead"> Join our campaign to make our country a farer, more just place for all citizens. </p>
                        <form>
                            <div class="row">
                                <div class="col-md-12"> <input type="email" name="email" placeholder="Email Address"> </div>
                                <div class="col-md-7 col-6"> <input type="text" name="zip" placeholder="ZIP code"> </div>
                                <div class="col-md-5 col-6"> <button type="submit" class="btn btn--primary-1">Next</button> </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 height-50 bg--primary-1">
                <div class="pos-vertical-center clearfix row no-gutters justify-content-center">
                    <div class="col-lg-8"> <span class="h1">Then donate.</span>
                        <p class="lead"> Our grass-roots campaign relies on the contributions of passionate patriots like you. </p>
                        <form>
                            <div class="row">
                                <div class="col-md-3 col-6">
                                    <div class="input-radio input-radio--innerspan"> <span>$5</span> <input type="radio" name="donate" value="5"> <label></label> </div>
                                </div>
                                <div class="col-md-3 col-6">
                                    <div class="input-radio input-radio--innerspan"> <span>$15</span> <input type="radio" name="donate" value="15"> <label></label> </div>
                                </div>
                                <div class="col-md-3 col-6">
                                    <div class="input-radio input-radio--innerspan"> <span>$25</span> <input type="radio" name="donate" value="25"> <label></label> </div>
                                </div>
                                <div class="col-md-3 col-6">
                                    <div class="input-radio input-radio--innerspan"> <span>$100</span> <input type="radio" name="donate" value="100"> <label></label> </div>
                                </div>
                                <div class="col-md-5 col-12"> <button type="submit" class="btn btn--primary">Act Now</button> </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
